@import '../colors';

.Header {
  color: $color-white;
  font-size: 32px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0 100px;

  > h1 {
    margin: 0;
  }

  &-wrapper {
    background: $color-secondary;
  }
}
