@import '../colors';

.Editable {
  position: relative;

  &-input {
    width: 80%;
    padding: 10px;
    font-size: 20px;
  }

  &-button {
    font-size: 20px;
    position: absolute;
    right: -10px;
    bottom: 0px;
    outline: none;
    background: none;
    border: none;
    padding: 10px;
    color: $color-gray-dark;

    border-radius: 50%;

    &:hover {
      color: $color-primary-dark;
      background-color: rgba(0, 0, 0, 0.1);
    }

    > svg {
      font-size: 25px;
    }
  }
}
