@import '../colors';

.Link {
  font-size: 24px;
  line-height: 25px;
  padding: 20px;
  text-decoration: none;
  font-weight: 600;
  color: $color-gray-dark;
  display: inline-block;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &-active {
    color: $color-primary-dark;

    &::after {
      display: block;
      content: '';
      border-bottom: $color-primary-dark solid 4px;
      margin-bottom: -4px;
    }
  }
}
