@import '../colors';

.Navbar {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;

  &-wrapper {
    background-color: $color-gray-light;
  }

  &-brand {
    height: 65px;
    display: inline-block;
    margin: 0 10px;

    > img {
      height: 65px;
    }
  }

  &-left {
    display: inline-flex;
    align-items: center;
  }

  &-right {
    display: inline-flex;
    margin-left: auto;
    margin-right: 0;
    align-items: center;

    > .Link {
      padding: 15px 10px;
      color: $color-primary-dark;
    }
  }
}
