@import '../colors';

.Tabs {
  &-labels {
    display: flex;
    padding: 30px 0;
  }

  &-label {
    flex: 1 1 0;
    border: none;
    font-size: 40px;
    font-weight: 500;
    padding: none;
    display: inline-block;
    background-color: $color-secondary;
    color: $color-white;
    outline: none;
    padding: 15px 20px;
    margin: 8px 0;
    transition: all 0.2s;
    line-height: 40px;

    &:hover {
      background-color: lighten($color: $color-secondary, $amount: 15);
    }

    &--active {
      margin: 0;
      padding: 23px 20px;
      background-color: $color-primary-dark;

      &:hover {
        background-color: $color-primary-dark;
      }
    }

    & ~ & {
      margin-left: 10px;
    }
  }
}
