$color-primary:     rgb(195, 105, 239);
$color-primary-dark:rgb(123, 43, 162);
$color-secondary:   rgb(0, 0, 134);
$color-white:       rgb(255, 255, 255);
$color-black:       rgb(0, 0, 0);
$color-gray-light:  rgb(244, 244, 244);
$color-gray:        rgb(108, 108, 108);
$color-gray-dark:   rgb(83, 83, 83);
