<div class="Navbar-wrapper">
  <div class="Navbar">
    <div class="Navbar-left">
      <a class='Link' [routerLink]="['/dashboard']">
        <img src="{{ImageLogo}}" alt='' />
      </a>
      <a class='Link' [routerLink]="['/dashboard']">
        DASHBOARD
      </a>
      <a class='Link' [routerLink]="['/users']">
        USERS
      </a>
      <a class='Link' [routerLink]="['/profile']">
        PROFILE
      </a>
    </div>
    <div class='Navbar-right'>
      <a class='Link' [routerLink]="['/projects']">
        TODO
      </a>
      <a class='Link' [routerLink]="['/notifications']">
        TODO
      </a>
    </div>
  </div>
</div>