@import './normalize';
@import './colors';
@import '~react-select/dist/react-select.css';

html,
body,
#root {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: $color-gray-light;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > * {
    box-sizing: border-box;
  }
}
