@import './colors';

.HistoryTab {
  padding: 0 30px;

  > h1 {
    font-weight: 600;
    color: $color-secondary;
    font-size: 28px;
  }

  > h1 ~ h1 {
    margin-top: 60px;
  }

  > p {
    font-size: 20px;
    color: $color-gray-dark;

    > em {
      font-style: normal;
      color: $color-secondary;
    }
  }
}
