@import './colors';

.TeamTab {
  &-dropdown {
  }

  & &-select {
    width: 300px;
    margin-left: auto;
    // font-size: 24px;
    font-weight: 600;

    .Select-input {
      background-color: $color-gray-light !important;
    }
    .Select-control {
      height: 48px;
      border: 1px solid $color-secondary !important;
      border-radius: 0;
      background-color: $color-gray-light !important;
    }
    .Select-control .Select-value {
      line-height: 48px;
      font-size: 24px;

      .Select-value-label {
        color:$color-secondary !important;
      }
    }
    .Select-placeholder {
      font-size: 24px;
      color: $color-secondary;
      line-height: 48px;
    }

    .Select-clear {
      font-size: 24px;
    }

    .Select-menu-outer {
      border: 1px solid $color-secondary !important;
      border-radius: 0 !important;
    }
  }

  &-selectOption {
    font-size: 24px;
    font-weight: 600;
    color: $color-secondary !important;
    background-color: $color-gray-light !important;

    &:hover {
      color: $color-primary-dark !important;
    }
  }

  &-searchBar {
    position: relative;
    margin-bottom: 20px;
  }

  &-searchInput {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
    border-color: $color-secondary;
  }

  &-searchButton {
    font-size: 20px;
    outline: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 10px;
    color: $color-gray-dark;
    border-radius: 50%;

    &--active {
      &:hover {
        color: $color-red;
      }
    }

    > svg {
      font-size: 35px;
    }
  }

  &-members {
    list-style: none;
    padding: 0;
  }

  &-member {
    border-bottom: solid 1px $color-secondary;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }

  &-memberAvatar {
    margin-right: 20px;
    > img {
      max-width: 80px;
      max-height: 80px;
    }
  }

  &-memberName {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: $color-gray-dark;
  }

  &-memberRole {
    width: 210px;
    margin-left: auto;
    font-size: 24px;
    font-weight: 600;
    color: $color-gray-dark;
  }

  &-memberActions {
    width: 60px;
  }

  &-memberRemove {
    font-size: 20px;
    outline: none;
    background: none;
    border: none;
    padding: 10px;
    color: $color-gray-dark;

    border-radius: 50%;

    &:hover {
      color: $color-red;
    }

    > svg {
      font-size: 35px;
    }
  }
}
