<div class='DashboardView'>
  <ux-header></ux-header>
  <div class='DashboardView-content'>
    <div class='DashboardView-controlPanel'>

      <div class='DashboardView-controls'>
        <h1>TYPE</h1>
        <div class='DashboardView-buttons'>
          <button class='DashboardView-button' [ngClass]="{'DashboardView-button--selected': type === 'your'}" (click)="filter('your')">
            YOUR
          </button>
          <button class='DashboardView-button' [ngClass]="{'DashboardView-button--selected': type === 'other'}" (click)="filter('other')">
            OTHER
          </button>
        </div>
      </div>


      <div class='DashboardView-controls'>
        <h1>ORDER BY</h1>
        <div class='DashboardView-buttons'>
          <button class='DashboardView-button' [ngClass]="{'DashboardView-button--selected': order === 'name'}" (click)="orderBy('name')">
            NAME
          </button>
          <button class='DashboardView-button' [ngClass]="{'DashboardView-button--selected': order === 'updatedate'}" (click)="orderBy('updatedate')">
            UPDATE DATE
          </button>
        </div>
      </div>


    </div>
    <div class='DashboardView-projects'>
      <div class='DashboardView-tileWrapper'>
        <a class='Link DashboardView-newProject' [routerLink]="['/new']">
          <h1>CREATE NEW PROJECT</h1>
        </a>
      </div>


      <div class='DashboardView-tileWrapper' *ngFor='let project of projects | async'>
        <div class='DashboardView-projectWrapper'>
          <div class='DashboardView-project'>
            <h1>{{project.title}}</h1>
            <h2>Created by {{project.createdBy}}, {{project.createdDate.toDateString()}}</h2>
            <h3>ID: {{project.id}}</h3>
            <div class='DashboardView-projectLogo'>
              <img [src]="project.logoUrl" alt='' />
            </div>
            <a class='DashboardView-projectLink' [routerLink]="['/project/', project.id]">
              <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" style="vertical-align: middle;"><g><path d="m14.3 27.3l7.7-7.7-7.7-7.7 2.3-2.3 10 10-10 10z"></path></g></svg>
            </a>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>