@import '../colors';

.DashboardView {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;

  &-content {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
  }

  &-controlPanel {
    margin-top: 30px;
  }

  &-controls {
    display: inline-block;
    > h1 {
      font-size: 26px;
      color: $color-secondary;
      margin: 0 0 15px;
    }

    & ~ & {
      margin-left: 40px;
    }
  }

  &-button {
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    background-color: $color-gray;
    color: $color-white;
    outline: none;

    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;

    &:hover {
      background-color: $color-gray-dark;
    }

    &--selected {
      background-color: $color-primary-dark;

      &:hover {
        background-color: $color-primary-dark;
      }
    }

    & ~ & {
      margin-left: 20px;
    }
  }

  &-projects {
    margin: 60px -17.5px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &-tileWrapper {
    width: 310px;
    height: 310px;
    margin: 0 17.5px;
    margin-bottom: 50px;
  }

  &-projectWrapper {
    height: 100%;
    border: 3px solid $color-gray;
  }

  &-project {
    padding: 40px;
    position: relative;

    > h1 {
      color: $color-secondary;
      text-transform: uppercase;
      font-size: 24px;
      margin: 0 0 10px;
    }

    > h2 {
      margin: 0;
      font-size: 12px;
    }

    > h3 {
      margin: 0;
      font-size: 12px;
      color: rgb(128, 128, 128);
    }
  }

  &-projectLogo {
    margin-top: 10px;
    > img {
      border: solid 1px $color-gray-light;
      max-width: 150px;
      max-height: 150px;
    }
  }

  &-newProject {
    border: 3px solid $color-gray-dark;
    padding: 40px 30px;
    display: inline-block;
    color: $color-primary-dark;
    text-decoration: none;
    font-size: 24px;
    display: flex;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    > h1 {
      font-size: 24px;
      margin: 0;
      margin-left: 12px;
      display: inline-block;
    }
  }

  &-projectLink {
    position: absolute;
    right: 30px;
    bottom: 40px;
    font-size: 30px;
    line-height: 24px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 1px $color-secondary;
    color: $color-primary-dark;
    display: block;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
