/* You can add global styles to this file, and also import other style files */
@import './app/colors.scss';

body {
    margin: 0;
}

ux-root {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $color-gray-light;
    line-height: 1.15;
  }

.Link {
    font-size: 24px;
    line-height: 25px;
    padding: 20px;
    text-decoration: none;
    font-weight: 600;
    color: $color-gray-dark;
    display: inline-block;
  
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  
    &-active {
      color: $color-primary-dark;
  
      &::after {
        display: block;
        content: '';
        border-bottom: $color-primary-dark solid 4px;
        margin-bottom: -4px;
      }
    }
  }