@import '../colors';

.ProjectView {
  height: 100%;
  background: linear-gradient(
    to right,
    $color-gray-light 0%,
    $color-gray-light 30%,
    $color-white 30%,
    $color-white 100%
  );

  &-content {
    width: 1400px;
    margin: 0 auto;
    height: 100%;
    display: flex;
  }

  &-informations {
    display: inline-block;
    width: 28%;
    background-color: $color-gray-light;
    padding: 0 20px;
  }

  &-tabs {
    display: inline-block;
    width: 72%;
    height: 100%;
    background-color: $color-white;
    padding: 20px 40px;
  }

  &-logo {
    margin: 30px auto;
    text-align: center;
    > img {
      max-width: 220px;
      border-radius: 50%;
    }
  }

  &-name {
    word-break: break-all;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-secondary;
    margin-bottom: 15px;
  }

  &-members {
    text-align: center;
    font-size: 24px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &-tags {
    text-align: center;
    margin-bottom: 10px;
  }

  &-tag {
    border-radius: 20px;
    text-align: center;
    border: solid 2px $color-gray-dark;
    background-color: $color-white;
    min-width: 60px;
    padding: 5px 20px;
    display: inline-block;
    margin: 0 5px 10px;
  }

  &-description {
    display: block;
    text-align: center;
    color: $color-gray-dark;
    padding: 0 10px;
  }


}
