<div class='ProjectView' *ngIf="item$ | async as item">
    <Header title='MANAGE PROJECT'></Header>
    <div class='ProjectView-content'>
      <div class='ProjectView-informations'>
        <div class='ProjectView-logo'>
          <img [src]="item.projectItem.logoUrl" alt='' />
        </div>
        <!-- <Editable
          value={name}
          onEdit={value => value && this.setState({ project: { ...this.state.project, name: value } })}
        > -->
          <div class='ProjectView-name'>{{item.projectItem.title}}</div>
        <!-- </Editable> -->
        <div class='ProjectView-members'>{{item.members.length}}</div>
        <!-- <Editable
          value={tags.join(',')}
          onEdit={value => value && this.setState({ project: { ...this.state.project, tags: value.split(',') } })}
        > -->
          <div class='ProjectView-tags'>
              <div class='ProjectView-tag' *ngFor="let tag of item.tags">
                {{tag}}
              </div>
          </div>
        <!-- </Editable> -->
        <!-- <Editable
          value={description}
          onEdit={value => value && this.setState({ project: { ...this.state.project, tags: value.split(',') } })}
        > -->
          <div class='ProjectView-description'>{{item.description}}</div>
        <!-- </Editable> -->
      </div>
      <!-- <Tabs
        selected={this.state.tab}
        class='ProjectView-tabs'
        onTabClick={tab => this.setState({ tab })}
      >
        <TeamTab members={members} />
        <HistoryTab events={events} />
      </Tabs> -->
    </div>
  </div>